<a href="https://colab.research.google.com/github/ShiTaoran2022193664/python_programming/blob/main/10%EC%A3%BC%EC%A0%9C%EC%88%99%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
result = 0

def adder(num):
    global result
    result += num
    return result

print(adder(3))  # Output: 3
print(adder(4))  # Output: 7
print(adder(4))
print(adder(5))

3
7
11
16

In [3]:
result1 = 0
result2 = 0

def adder1(num):
    global result1
    result1 += num
    return result1

def adder2(num):
    global result2
    result2 += num
    return result2

print(adder1(3))  # Output: 3
print(adder1(4))  # Output: 7
print(adder2(3))  # Output: 3
print(adder2(7))  # Output: 10

3
7
3
10

In [4]:
class Calculator:
    def __init__(self):
        self.result = 0

    def adder(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))  # Output: 3
print(cal1.adder(4))  # Output: 7
print(cal2.adder(3))  # Output: 3
print(cal2.adder(7))  # Output: 10

3
7
3
10

In [5]:
class Service:
    secret = "The Earth will perish in the year 4006."

an = Service()
print(an.secret)  # Output: "The Earth will perish in the year 4006."

The Earth will perish in the year 4006.

In [6]:
Service.secret = "The fact that the Earth will perish in 4006 is a lie."
print(an.secret)  # Output: "The fact that the Earth will perish in 4006 is a lie."

The fact that the Earth will perish in 4006 is a lie.

In [8]:
class Service:
    secret = "The Earth will perish in the year 4006."

    def sum(self, a, b):
        result = a + b
        print(f"{a} + {b} = {result}.")

an = Service()
an.sum(1, 1)  # Output: "1 + 1 = 2."

1 + 1 = 2.

In [10]:
class Service:
    secret = "The Earth will perish in the year 4006."

    def setname(self, name):
        self.name = name

    def sum(self, a, b):
        result = a + b
        print(f"{self.name}, {a} + {b} = {result}.")

an = Service()
an.setname("Mr. PP")
an.sum(1, 1)  # Output: "Mr. Park, 1 + 1 = 2."

Mr. PP, 1 + 1 = 2.

In [25]:
class Service:
    secret = "지구는 4006년에 멸망한다."

    def setname(self, name):
        self.name = name

    def sum(self, a, b):
        result = a + b
        print("%s님, %s + %s = %s입니다." % (self.name, a, b, result))

an = Service()
an.setname("박달도사")
an.sum(1, 1)
# Output: 박달도사님, 1 + 1 = 2입니다.

박달도사님, 1 + 1 = 2입니다.

In [26]:
kim = Service()
park = Service()

kim.name = "김정보"
park.name = "박용할"

print(kim.name)  # Output: 김정보
print(park.name)  # Output: 박용할

kim.secret = "비밀은 없다"
print(park.secret)  # Output: 지구는 4006년에 멸망한다
print(kim.secret)  # Output: 비밀은 없다

print(Service.secret)  # Output: 지구는 4006년에 멸망한다

김정보
박용할
지구는 4006년에 멸망한다.
비밀은 없다
지구는 4006년에 멸망한다.

In [27]:
lee = Service(lee = Service("이수진")
lee.sum(1, 1)

SyntaxError: '(' was never closed (<ipython-input-27-c2912d082fe5>, line 1)

In [28]:
class Service:
    secret = "지구는 4006년에 멸망한다."

    def __init__(self, name):
        self.name = name

    def sum(self, a, b):
        result = a + b
        print("%s님, %s + %s = %s입니다." % (self.name, a, b, result))

an = Service("박달도사")
an.sum(1, 1)
# Output: 박달도사님, 1 + 1 = 2입니다.

박달도사님, 1 + 1 = 2입니다.

In [29]:
class FourCal:
    pass

In [30]:
a = FourCal()
print(type(a))

<class '__main__.FourCal'>

In [31]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

In [32]:
a = FourCal()
a.setdata(4, 2)
print(a.first)  # Outputs: 4
print(a.second)  # Outputs: 2

4
2

In [33]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

    def sum(self):
        result = self.first + self.second
        return result

In [34]:
a = FourCal()
a.setdata(4, 2)
print(a.sum())  # Outputs: 6

6

In [36]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

    def sum(self):
        result = self.first + self.second
        return result

    def mul(self):
        result = self.first * self.second
        return result

    def sub(self):
        result = self.first - self.second
        return result

    def div(self):
        result = self.first / self.second
        return result


a = FourCal()
b = FourCal()


a.setdata(4, 2)
b.setdata(3, 7)

print(a.sum())
print(a.mul())
print(a.sub())
print(a.div())
print(b.sub())

6
8
2
2.0
-4

In [39]:
from random import randint

class Player:
    def __init__(self):
        self.dice = []

    def roll(self):
        self.dice = []  # clears current dice
        for i in range(3):
            self.dice.append(randint(1, 6))

    def get_dice(self):
        return self.dice

player1 = Player()
player2 = Player()

player1.roll()
player2.roll()

print("Player 1 rolled" + str(player1.get_dice()))
print("Player 2 rolled" + str(player2.get_dice()))

if sum(player1.get_dice()) == sum(player2.get_dice()):
    print("Draw!")
elif sum(player1.get_dice()) > sum(player2.get_dice()):
    print("Player 1 wins!")
else:
    print("Player 2 wins!")

Player 1 rolled[2, 3, 4]
Player 2 rolled[3, 3, 5]
Player 2 wins!