<a href="https://colab.research.google.com/github/ShiTaoran2022193664/python_programming/blob/main/9%EC%A3%BC%EC%A0%9C_%EC%88%99%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list

[1, 2, 3, 4, 5]

In [7]:
number_list = []
for number in range(1, 6):
  number_list.append(number)
number_list

[1, 2, 3, 4, 5]

In [8]:
number_list = list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [9]:
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [10]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [11]:
a_list = [number for number in range(1,6) if number %2 == 1]
a_list

[1, 3, 5]

In [12]:
a_list = []
for number in range(1,6):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

In [13]:
sentence = ['I','Love','Python','Soooooo','MUCH!!!']

print([word.lower() for word in sentence])

print([word for word in sentence if len(word) > 6])

print([(x, x ** 2, x ** 3) for x in range(10)])

['i', 'love', 'python', 'soooooo', 'much!!!']
['Soooooo', 'MUCH!!!']
[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729)]

In [14]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [15]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [16]:
[(i, j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [17]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [18]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
print(set(word))
print(letter_counts)

{'t', 'e', 'r', 's', 'l'}
{'t': 2, 'e': 2, 'r': 1, 's': 1, 'l': 1}

In [19]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

In [20]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramusu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "-eat", fruit, "- enjoy", dessert)

Monday : drink coffee -eat banana - enjoy tiramusu
Tuesday : drink tea -eat orange - enjoy ice cream
Wednesday : drink beer -eat peach - enjoy pie

In [21]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

print(list(zip(english, french)))
print(dict(zip(english, french)))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [23]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree':entree, 'dessert': dessert}

In [24]:
menu('chardonnay','chichen','cake')

{'wine': 'chardonnay', 'entree': 'chichen', 'dessert': 'cake'}

In [25]:
menu(entree='beef',dessert='bagel',wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [26]:
menu('frontenac', dessert='flan',entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [27]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree':entree, 'dessert': dessert}

In [28]:
menu('chardonny','chicken')

{'wine': 'chardonny', 'entree': 'chicken', 'dessert': 'pudding'}

In [29]:
menu('dunkelfelder','duck','doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [30]:
def menu(price,wine='chardonnay', entree='chicken', dessert='pudding'):
    return {'price':price, 'wine': wine, 'entree':entree, 'dessert': dessert}

In [31]:
menu(100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [32]:
menu(price=100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [33]:
menu(price=120, entree='beef')

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [34]:
menu(dessert='bagel',price=110)

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [35]:
menu('eighty', 'saint-pierre','fish')

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [36]:
menu('hundred', wine='saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [37]:
menu()

TypeError: menu() missing 1 required positional argument: 'price'

In [38]:
menu(price=100, 'saint-pierre’)

SyntaxError: invalid character '‘' (U+2018) (<ipython-input-38-7e5f9e88f088>, line 1)

In [39]:
menu(100, price=120)

TypeError: menu() got multiple values for argument 'price'

In [41]:
menu(main='cream pasta’) #

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-41-109a8eb5298f>, line 1)

In [42]:
def echo(anything):
    'echo returns its input argunemt'
    return anything

In [43]:
def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:
        1. Check whether the *second* argument is true.
        2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

In [44]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argunemt

In [45]:
print(echo.__doc__)

echo returns its input argunemt

In [46]:
print(print_if_true.__doc__)

    Prints the first argument if a second argument is true.
    The operation is:
        1. Check whether the *second* argument is true.
        2. If it is, print the *first* argument.

In [47]:
import math
math.sqrt(16)

4.0