<a href="https://colab.research.google.com/github/ShiTaoran2022193664/python_programming/blob/main/Week2_Exercise1_5_SHI_TAORAN_2022193664.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3 id="exercise">Exercise 1 (Types): Your First Program</h3>

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [ ]:
print("Hello, world!")

Hello, world!

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [ ]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

<hr>

<h3 id="exercise">Exercise 2 (Types): Get the object type</h3>

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [13]:
type("12")

str

In [14]:
type(12)

int

In [12]:
type(12.0)

float

<h3 id="exer_type">Exercise 3 (Types): Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [1]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [2]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

<hr>

<h3 id="exer_exp">Exercise 4 (Types): Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [44]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
hour=60
x=160/hour
print(str(x)[0:4],"hours is 160 minutes")

2.66 hours is 160 minutes

<h3 id="exer_exp_var">Exercise 5 (Types): Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [46]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=3+2*2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [47]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [49]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z=x+y
z

17